<a class="update" (click)="update()">Refresh the list</a>
<section class="container">
    <ul id="memberList" class="memberslist">
        <li *ngFor="let member of finalList" class="member">
            <div class="content">
                <p>{{member.givers.name.first}} {{member.givers.name.last}}</p>
                <span>{{member.givers.email}}<br>{{member.givers.phone}}</span>
            </div>
            <div class="content receiver">
                <p>{{member.receiver.name.first}} {{member.receiver.name.last}}</p>
                <span>{{member.receiver.email}}<br>{{member.receiver.phone}}</span>
            </div>
        </li>
    </ul>
</section>
